.home {
  width: 100%;
  max-width: 1000px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  margin-top: -62px;
}

.home-article {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.2);
  position: relative;
  z-index: 2;
}

.img-skills {
  background-color: #ffffff50;
  width: 45px;
  height: 45px;
  position: absolute;
  z-index: 3;
  padding: 0.3rem;
  border-radius: 8px;
  backdrop-filter: blur(3px);
}

.home-article .home-article__img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.home-container-text {
  width: 100%;
  text-align: center;
}
.home-container-text .home-text-title {
  color: var(--color-white);
  font-size: 3.3rem;
  font-weight: 900;
  letter-spacing: 0.3px;
  margin-top: 0.8rem;
}
.home-container-text .home-text-description {
  color: rgba(255, 255, 255, 0.7);
  font-size: 2rem;
  font-weight: 500;
  margin-top: -0.7rem;
}
.home-container-text .home-text-descriptionPersonal {
  display: none;
}
.home-container-text a {
  display: inline-block;
  background-color: var(--color-yellow);
  color: var(--color-white);
  font-size: 1.3rem;
  font-weight: 500;
  text-transform: uppercase;
  text-decoration: none;
  padding: 1.4rem 2rem;
  margin-top: 1rem;
  border-radius: 40px;
  transition: box-shadow 0.2s ease;
}
.home-container-text a:hover {
  box-shadow: 0px 5px 15px -5px var(--color-yellow);
}

@media screen and (min-width: 700px) {
  .home {
    flex-direction: row;
    justify-content: space-evenly;
    padding: 0 5rem;
    margin-top: -76px;
  }
  .home-article {
    flex-shrink: 0;
  }
  .home-container-text {
    text-align: left;
    padding-left: 4rem;
  }
  .home-container-text .home-text-title {
    font-size: 3.8rem;
  }
  .home-container-text .home-text-description {
    font-size: 2.2rem;
    font-weight: 400;
    margin-top: -1rem;
  }
  .home-container-text .home-text-descriptionPersonal {
    display: block;
    margin: 0.2rem 0;
  }
  .home-container-text .home-text-descriptionPersonal p {
    display: flex;
    align-items: center;
    color: var(--color-white);
    font-size: 1.3rem;
    font-weight: 200;
  }
  .home-container-text .home-text-descriptionPersonal p svg {
    width: 28px;
    height: 28px;
    padding-right: 0.6rem;
  }
}
